@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #1b4d58;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
}
.cabecalho__menu{
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .cabecalho__menu {
        display: none; 
    }

    .menu-hamburguer {
        display: block; 
    }

    .menu-hamburguer__icone {
        
    }

    .menu-hamburguer__lista {
        display: none; 
    }

    .menu-hamburguer__ativo .menu-hamburguer__lista {
        display: block; 
    }
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__icone {
   height: 50px;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    justify-content: center;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    justify-content: center;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto_projetos__destaque {
    text-align: left; 
    font-size: 1.8rem; 
    font-family: var(--fonte-secundaria);
    margin-bottom: 20px;
    font-weight: bold; 
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    justify-content: center;
    font-weight: bold;
}

.apresentacao__conteudo {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.apresentacao__conteudo__titulo_projetos {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: justify;
}

.apresentacao__conteudo__texto_projetos {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-bottom: 20px;
    text-align: justify;
}

.apresentacao__conteudo__texto_projetos ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    text-align: justify;
}

.apresentacao__conteudo__texto_projetos li {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: left;
    text-align: justify;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
 .apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao img {
    max-width: 55%;
    height: auto;
}

.apresentacao__links__navegacao .github-logo {
    max-width: 25%; 
}

.apresentacao__links__navegacao .instagram-logo {
    max-width: 20%; 
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.apresentacao__links__navegacao span {
    flex: 1;
    text-align: left;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.imagem {
    width: 60%;
    aspect-ratio: 1/1; 
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
}

.imagem2 {
    width: 60%; 
    aspect-ratio: 1/1; 
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 2%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.meu-botao {
  display: inline-block;
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid var(--cor-terciaria);
  color: var(--cor-terciaria);
  text-decoration: none;
  border-radius: 5px;
  font-family: var(--fonte-secundaria);
  font-size: 2.0rem;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.meu-botao:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
}


@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
