@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #1b4d58;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

<link>cabecalho</link> {
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}

<link>cabecalho__menu</link> {
    display: flex;
    gap: 3vw;
}

<link>cabecalho__menu__link</link> {
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

<link>apresentacao</link> {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

<link>apresentacao__conteudo</link> {
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

<link>apresentacao__conteudo__titulo</link> {
    font-size: 2.25em;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

<link>apresentacao__conteudo__texto</link> {
    font-size: 1.5em;
    font-family: var(--fonte-secundaria);
}

<link>apresentacao__links</link> {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

<link>apresentacao__links__subtitulo</link> {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5em;
}

<link>apresentacao__links__link</link> {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    max-width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1.5em 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

<link>apresentacao__links__link</link>:hover {
    background-color: var(--cor-hover);
}

<link>rodape</link> {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.5em;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
}

<link>imagem-redimensionada</link> {
    max-width: 100%;
    height: auto;
}

<link>imagem</link> {
    max-width: 100%;
    height: auto;
}

<link>imagem2</link> {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    <link>cabecalho</link> {
        padding: 2% 5%;
    }
    <link>apresentacao</link> {
        padding: 5% 5%;
    }
    <link>apresentacao__conteudo</link> {
        max-width: 100%;
    }
    <link>imagem</link>,
    <link>imagem2</link> {
        width: 100%;
    }
}

@media (min-width: 768px) {
    <link>cabecalho</link> {
        padding: 2% 10%;
    }
    <link>apresentacao</link> {
        padding: 5% 15%;
    }
}

